.newsletter {
  background-color: #191919;
  color: white;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  margin-top: 120px;
}

.newsletter h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1.5rem;
}

.newsletter h3,
.newsletter form {
  margin-bottom: 1.5rem;
}

.newsletter input[type="email"],
.newsletter .submitBtn {
  max-width: 250px;
  font-size: 1rem;
  text-align: center;
  font-family: sans-serif;
  padding: 0.5rem;
  width: 100%;
}

@media (max-width: 467px) {
  .submitBtn {
    margin: 7px auto;
  }
  .newsletter form {
    max-width: 250px;
  }
}

@media (min-width: 467px) {
  .newsletter form {
    display: flex;
  }
  .newsletter .submitBtn {
    width: 35%;
  }
  .newsletter input[type="email"] {
    width: 65%;
  }
}
