.shopNowContainer {
  background-color: #e9e9e9;
  width: 95%;
}

.shopNowContainer.container {
  padding: 0;
}

.shopNowContainer h2 {
  font-weight: 600;
  font-size: 2rem;
  color: #000;
}

.shopNowContainer p {
  font-weight: 500;
  font-size: 1.1rem;
}

.shopNowContainer a {
  background-color: black;
  color: white;
  transition: all 0.3s ease, color 0.3s ease;
  border: 2px solid black;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 0.7rem;
  margin-top: 0.5rem;
  display: inline-block;
}

.shopNowContainer a:hover {
  background-color: white;
  color: black;
}

.imgCol img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 440px;
}

@media (min-width: 599px) {
  .shopNowRow,
  .contentCol,
  *.imgCol {
    padding-right: 0;
    padding-left: 0;
  }

  .contentCol > div {
    padding-top: 2.9rem;
    padding-bottom: 2.9rem;
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1030px) {
  .contentCol > .secondBanner {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 599px) {
  .imgCol {
    display: none;
  }
  .shopNowContainer {
    padding: 2.5rem;
  }
}
